<mat-card>
  <p class="text-center">Time to start</p>
  <div class="text-center wvtimer">{{ timeLeft }}</div>

  <mat-grid-list cols="3" rowHeight="60px">
    <mat-grid-tile>
      <button mat-raised-button color="{{ startLineService.pinEndSet ? 'primary' : 'warn' }}"
        (click)="togglePinEndPositionToCurrentLocation()">
        Pin
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="text-center">- {{ distanceBetweenBooys }} -</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="{{ startLineService.boadEndSet ? 'primary' : 'warn' }}"
        (click)="toggleBoadEndPositionToCurrentLocation()">
        Boat
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>

  <mat-grid-list cols="2" rowHeight="40px">
    <mat-grid-tile>
      <div class="text-center">Distance to line</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="text-center">Time to kill</div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="60px">
    <mat-grid-tile>
      <p class="wvhalfscreen text-center">{{ distanceToLine }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p class="wvhalfscreen text-center">{{ timeToKill }}</p>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="mt-5">
    <button mat-raised-button color="accent" class="w-100" (click)="syncToClosestMinute()" style="width: 100%;">
      Sync
    </button>
  </div>

  <mat-grid-list cols="2" rowHeight="60px" class="mt-3">
    <mat-grid-tile>
      <button mat-raised-button color="warn" class="w-100" (click)="startInMinutes(5)" style="width: 100%;">
        Start 5 minutes
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="warn" class="w-100" (click)="startInMinutes(4)" style="width: 100%;">
        Start 4 minutes
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="60px" class="mt-3">
    <mat-grid-tile>
      <button mat-raised-button color="warn" class="w-100" (click)="startInMinutes(1)" style="width: 100%;">
        Start 1 minute
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" class="w-100" (click)="reset()" style="width: 100%;">
        Stop timer
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="60px" class="mt-3">
    <mat-grid-tile>
      <button mat-raised-button color="accent" class="w-100" (click)="handleVMGUpdate()" style="width: 100%;">
        Set VMG
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- Empty tile for spacing -->
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>