<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>Timer</button>
    <ng-template ngbNavContent>
      <app-timer />
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Wind</button>
    <ng-template ngbNavContent>
      <app-wind></app-wind>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Map</button>
    <ng-template ngbNavContent>
      <app-map></app-map>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
