<mat-tab-group mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>settings</mat-icon>
    </ng-template>
    <app-timer />
  </mat-tab>
  <mat-tab label="Data1">
    <ng-template mat-tab-label>
      <mat-icon>dashboard</mat-icon>
    </ng-template><ng-template matTabContent>
      <app-wind></app-wind>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>map</mat-icon>
    </ng-template>
    <app-maplibre-map [height]="contentHeight"></app-maplibre-map>
  </mat-tab>
</mat-tab-group>